#contact-wrapper{
}
	.contact-content{
		width:100%;
	}

#c-info-wrapper{
	margin-top:25px;
}
	#c-info-wrapper table{
		margin:0 auto;
	}
		#c-info-wrapper td{
			padding-left:16px;
			padding-bottom:9px;
			color:#FFF;
			text-align:center;
		}
		.fa-envelope-o:hover{
			color:#E64437;
		}
		.fa-phone:hover{
			color:#FE695D;
		}
		.fa-map-marker:hover{
			color:#FF8A81;
		}

#c-message-wrapper{
}
	.c-form-element{
		width:64%;
		margin:9px auto;
		text-align:center;
		display:block;
		outline:none;
		font-family:'Oxygen';	/*Eventually change to Neonae Font*/
		font-size:1.00em;
		color:#FFF;
	}
		::-webkit-input-placeholder{
			color:rgba(255,255,255,0.64);
			font-style:italic;
		}
		:-moz-placeholder{
			color:rgba(255,255,255,0.64);
			font-style:italic;
		}
		::-moz-placeholder{
			color:rgba(255,255,255,0.64);
			font-style:italic;
		}
		:-ms-placeholder{
			color:rgba(255,255,255,0.64);
			font-style:italic;
		}
		.c-form-text-element{
			border:none;
			border-bottom:solid 1px #FFF;
			background:transparent;
			resize:none;
			
			-webkit-transition: all 0.441s;
			-moz-transition: all 0.441s;
			transition: all 0.441s;
		}
		.c-form-text-element:hover{
			border-bottom:solid 1px #47C25C;
		}
		.c-form-text-element:focus{
			border-bottom:solid 4px #119227;
		}
		#c-message-wrapper [type="text"]{

		}
		#c-message-wrapper [type="email"]{

		}
		#c-message-wrapper textarea{
			border-top:dotted 1px #FFF;
			text-align:left;
			resize:none;
		}
			#c-message-wrapper textarea:focus{
				border-top:dotted 1px #119227;
			}
		.c-form-button{
			margin-top:1px;
			border:solid 1px #FFF;
			background:transparent;
		}
		.c-form-button:hover{
			border-color: #47C25C;
		}
		.c-form-button:active{
			border:solid 1px rgba(241,241,241,0.64);
			color:rgba(241,241,241,0.36);
		}

#c-footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:9%;
}
	#c-footer table{
		width:100%;
		height:100%;
		vertical-align:middle;
	}
		#c-footer td{
			width:auto;
			text-align:center;
		}
		.fa-behance:hover{
			color:#005CFF;
		}
		.fa-pinterest:hover{
			color:#CB2027;
		}
		.fa-facebook:hover{
			color:#3B5998;
		}
		.fa-google-plus:hover{
			color:#DC4A38;
		}
		.fa-twitter:hover{
			color:#2AA9E0;
		}

@media (max-width:441px), (max-height:441px){
	#contact-wrapper{
	}
}

@media (min-width:1141px){
	.c-form-element{
		width:64%;
		font-size:1.44em;
	}
}

@media (min-width:1141px and max-width:1919px){

}

@media (min-width:1920px){

}